:root {
  --main-color: #3b657e;
  --main-color-light: #7ea6bd97;
  --main-bg-color: white;
  --secondary-bg-color: #EAEAEA;
}

body {
  background-color: var(--main-color);
  color: var(--secondary-bg-color);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2.5rem;
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 400;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav {
  background-color: var(--secondary-bg-color);
  color: var(--main-color);
  border: 2px solid var(--secondary-bg-color);
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

nav a {
  color: var(--main-color);
  text-decoration: none;
} 

nav a:hover {
  text-decoration: underline;
}

nav li {
  display: inline-block;
  padding: 10px;
  margin: 0;
}

.searchbar {
  padding-left: 25px;
  margin: 10px;
  height: 40px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  background-color: var(--secondary-bg-color);
  font-size: 12px;
}

.search-btn,
.add-to-cart-btn,
.continue-to-checkout-btn,
.view-product-btn {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
  text-decoration: none;
  text-transform: uppercase;
}

.search-btn:hover,
.add-to-cart-btn:hover,
.continue-to-checkout-btn:hover,
.view-product-btn:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.continue-to-checkout-btn a {
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  background-color: var(--secondary-bg-color);
  color: var(--main-color);
  padding: 10px;
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 96%;
}

/* Form styling */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--main-bg-color);
  color: var(--main-color);
  border-radius: 10px;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
}

label {
  text-align: left;
}

.form-input {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 10px;
  border: 2px solid var(--secondary-bg-color);
  ;
  font-size: 18px;
}

.form-textarea {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  resize: vertical;
  border-radius: 10px;
  border: 2px solid var(--secondary-bg-color);
  font-size: 18px;
}

.submit-button {
  width: 80%;
  padding: 0.5rem;
  background-color: #007bff;
  color: var(--main-bg-color);
  border: 2px solid var(--secondary-bg-color);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 18px;
}

.submit-button:hover {
  background-color: #0056b3;
  color: var(--main-bg-color)
}

/* Product styling */
.products-container {
  display: block;
  margin-bottom: 20px;
}

.product,
.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  padding: 40px;
  color: black;
}

.product-info {
  margin-right: 20px;
}

.product-title {
  margin-bottom: 5px;
}

.product-price {
  color: black;
}

.product-image {
  max-width: 200px;
  border-radius: 10px;
}

.reviews {
  background-color: var(--secondary-bg-color);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

/* Cart page */
.cart-products,
.checkout-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  padding: 40px;
  color: black;
}

.specific-cart-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--main-color-light);
  border-radius: 10px;
  border: 2px solid var(--main-color);
  padding: 40px;
  color: black;
}

.cart-products li {
  list-style-type: none
}

.total-price {
  font-style: oblique;
  margin-top: 40px;
  text-decoration: underline;
  text-transform: uppercase;
}